
body{
  text-align: center;
  background: linear-gradient(to right, black, rgb(8, 27, 68));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 69vh;
}
details{
  border: solid;
  position: absolute;
  bottom: 30px;
  color: black;
  background-color: white;
  text-align: justify;
}
.wel_container{
  position: absolute;
  background-color: aliceblue;
  margin: 0;
  top: 0;
  left: 0;
  border-radius: 0 190px 0px 0;

}
.update{
  padding: 5px 20px 5px 20px;
  border-radius: 5px;
  margin: 20px;
  background: linear-gradient(to left, black,green);
  color: wheat;
}
.update:hover{
  background: linear-gradient(to left, green,black);
}
.submitName{
  position: absolute;
  top: 80px;
  display: block;
  padding: 5px 25px 5px 25px;
  border-radius: 5px;
  background-color: rgb(8, 27, 68);
  color: white;
}
.submitName:hover{
  cursor: pointer;
}
#name{
  font-weight: bold;
  display: block;
  position: absolute;
  top: 30px;
  border-radius: 10px;
  padding: 10px 0 10px 5px;
}
.score{
  width: max-content;
  position: absolute;
  display: inline-block;
  top: 100px;
  border: solid;
  background-color: aliceblue;
}
.try_again{
  display: inline-block;
  font-weight: bold;
  z-index: -1;
  top: 420px;
  position: absolute;
  background-color: red;
  color: black;
  border: solid;
  padding: 10px;
  height: 90px;
  width: 430px;
  border-radius: 3px;
  border-radius: 10px;
}
.try{
  margin-top: 20px;
  padding: 4px 10px 4px 10px;
  background-color: black;
  color: red;
  border-radius: 10px;
}
.try:hover{
  background-color: red;
  color: black;
  font-weight: bold;
}
.indicateur{
  border: solid rgb(250, 250, 250);
  height: 40px;
  width: max-content;
  position: absolute;
  right: 10px;
  top: 150px;
  color: white;
  background-color: black;
  padding: 4px 10px 8px 10px;
}
.indicateur:hover{
  cursor: none;
}
.indText:hover{
  cursor: none;
}
.container{
 padding: 30px 0 15px 0;
 margin-top:230px;
 border: solid 1px black;
 border-radius: 5px;
 background-color: rgb(41, 41, 41);
 font-family: Arial, Helvetica, sans-serif;
}
.submit{
  position: absolute;
  bottom: 20px;
  right: 10px;
  padding: 12px 38px 12px 38px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(67, 141, 67);
}
button{
  font-weight: bold;
  margin-bottom: 10px;
}
.reponse{
  border-radius: 30px;
  padding: 5px 200px 5px 200px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.reponse:hover{
  background-color: rgb(137, 230, 137);
  font-weight: bold;
  cursor: pointer;
}
fieldset{
  color: aliceblue;
  border:solid rgb(22, 22, 22);
  padding: 20px 0 20px 0;
  text-align: center;
}
strong:hover{
  cursor: default;
}
legend{
  color: rgb(2, 2, 2);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
